{sub_dirs, ["rel"]}.

{deps_dir, ["deps"]}.
{erl_opts, [debug_info, 
			{parse_transform, lager_transform}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{deps, [
    {erlang_js, "", {git, "git://github.com/basho/erlang_js.git", {branch, "master"}}},
    {lager, ".*", {git, "http://github.com/basho/lager.git", {branch, "master"}}},
    {mochijson2, "", {git, "https://github.com/bjnortier/mochijson2.git", {branch, "master"}}}
]}.
